*{
  padding: 0;
  margin: 0;
}
.App{
  background-color: whitesmoke;
  
}
.nav-container{
  width: 240px;
  
}
.nav li{
  list-style-type: none;
  padding: 5px;
  margin-bottom: 10px;
}
.nav .Dash{
  color: rgb(116, 6, 116);
  background-color: rgba(206, 206, 206, 0.363);
  border-radius: 20px;
}
.Spakle img{
  width: 70%;
  margin: 25px;
}

.Nameofuser {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.detail{
  background-color: white;
  padding: 10px;
  width: 340px;
  border-radius: 20px;
  margin: 25px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.detail .icon{
  font-size: 50px;
  background-color: rgba(206, 206, 206, 0.363);
  border-radius: 50%;
  padding: 5px;
}
.detail-text{
  text-align: center;
}
.accounticon {
  display: flex;
  justify-content: right;
  margin-right: 50px;
}
.iconimage {
  width: 40px;
}
.MostSales {
  width: 360px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-top: 25px;
}
.top-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.leaderboard-bottum img {
  width: 30px;
}
.leaderboard-bottum {
  font-size: 13px;
  font-weight: bold;
}
.leaderboard-top img {
  width: 80px;
}
.leaderboard-top {
  font-weight: bold;
}
.purple-text {
  color: #8a2be2;
}
.leaderboard-text {
  font-size: 12px;
}
.leaderboard-bottum-st {
  margin: 10px;
  background-color: #bcafc849;
  padding: 5px;
  border-radius: 25px;
  align-items: center;
  height: 40px;
}
.leaderboard-bottum-st p {
  height: 4px;
}
.graph{
  margin-bottom: 25px;
}
